// ==========================================================================
// Variables
// ==========================================================================

:root {
	--fz-html: 62.5%;
	--fz-base: 1.6rem;
	--fw-base: 400;
	--lh-base: 1.25;
	--ff-base: 'Open Sans', sans-serif;
	--c-base: #323233;
	--c-gray: #f1f1f1 --c-white: #fff --c-green: #a8d4a8;
	--c-yellow: #f6e799;
	--c-dark-blue: #16232f;
	--c-pink: #f9b3b5;
	--c-main-blue: #337ab7;
	--c-green: #a8d4a8;
	--c-green: #a8d4a8;
}

$breakpoints: (
	mobile-small: 374px,
	mobile-medium: 575px,
	mobile: 767px,
	tablet: 1023px,
	small-desktop: 1199px,
);
